# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
tuple_int = tuple(range(1,11))
print(tuple_int)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [8]:
print("First elemnet in tuple is ",tuple_int[0])
print("Middle elemnet in tuple is ",tuple_int[len(tuple_int)//2])
print("Last elemnet in tuple is ",tuple_int[-1])

First elemnet in tuple is  1
Middle elemnet in tuple is  6
Last elemnet in tuple is  10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
print("First 3 elements in tuple are",tuple_int[:3])
print("Last 3 elements in tuple are",tuple_int[-3:])
print("Elements from index 2 to 5 in tuple are",tuple_int[2:6])

First 3 elements in tuple are (1, 2, 3)
Last 3 elements in tuple are (8, 9, 10)
Elements from index 2 to 5 in tuple are (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [13]:
matrix =((1,2,3),
         (4,5,6),
         (7,8,9))

print(matrix)
print(matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [15]:
T1=(1,2,3)
T2=(4,5,6)
T3= T1+T2
print(T3)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [27]:
elements = (1,2,2,2,3,5,7,7,9,10,11,11)
print("Duplicate count of 2 is ",elements.count(2))
print("First occurance index of 7 is ",elements.index(2))

Duplicate count of 2 is  3
First occurance index of 7 is  1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [30]:
tup =(1,2,3,4,5)
print(tup)
a,b,c,d,e=tup
print("Unpacked tuple",a,b,c,d,e)

(1, 2, 3, 4, 5)
Unpacked tuple 1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [37]:
lst = (list(range(1,6)))
print(lst)
print("tuple of list is",tuple(lst))

[1, 2, 3, 4, 5]
tuple of list is (1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [38]:
 tup_of_tuples = ((1,3,4),
                  (2,6,7),
                  (5,8,9))
print(tup_of_tuples)

((1, 3, 4), (2, 6, 7), (5, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [51]:
tup_5=tuple(range(1,6))
print(tup_5)
lst=list(tup_5)
print("Converting list to tuple",lst)
lst.append(6)
print(lst)
tup_6=tuple(lst)
print("Converting list to tuple after appending",tup_6)

(1, 2, 3, 4, 5)
Converting list to tuple [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
Converting list to tuple after appending (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [54]:
tup_char =('a','b','c','d')
e,f,g,h=tup_char
print("Tuple to Single string is",e+f+g+h)

Tuple to Single string is abcd

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [62]:
tup ={
    (1,2):3,
    (2,3):4,
    (4,5):8}
print(dict)

{('Peter', 5690234), ('John', 456789), ('Avenger', 120987)}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [65]:
tup = ((1,2),(3,4),(5,6))
for t in tup:
    for x in t:
        print(x)

1
2
3
4
5
6

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [71]:
tuple_A=(1,3,3,4,5,5,6,7,7,8,9,1)
print(tuple_A)
sets=set(tuple_A)
print(sets)

(1, 3, 3, 4, 5, 5, 6, 7, 7, 8, 9, 1)
{1, 3, 4, 5, 6, 7, 8, 9}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [74]:
def fun(tup_B):
    return (max(tup_B),min(tup_B),sum(tup_B))

tup = (1,2,3,4,5)
result=fun(tup)
print(result)

(5, 1, 15)