#List Comprehension

In [8]:
# Generating a list of the first letters of words in a list:
words = ['apple', 'banana', 'cherry', 'date']
first_letter=[letters[0] for letters in words] 
print(first_letter)

['a', 'b', 'c', 'd']

In [11]:
lst = [1,2,3,4,5]
sq_num=[i**2 for i in lst]
print(sq_num)

[1, 4, 9, 16, 25]

In [15]:
## Filtering even numbers from a list:
num= [1,2,3,4,5,6,7,8,9,10]
even_num=[i for i in num if i%2==0]
odd_num=[i for i in num if i%2!=0]
print(odd_num)
print(even_num)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [17]:
##Flattening a list of lists: 2 for loops
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flatten_list=[supersublists for sublists in lists for supersublists in sublists]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
## Generating a list of the squares of even numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sq_num= [i**2 for i in numbers if i%2==0]
print(sq_num)

[4, 16, 36, 64, 100]

In [23]:
## Converting a list of strings to a list of integers
strings = ['1', '2', '3', '4', '5']
[int(s) for s in strings]

[1, 2, 3, 4, 5]

In [24]:
## Generating a list of the Fibonacci sequence using a list comprehension
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]
[fib[i-1]+fib[i-2] for i in range(2,len(fib))]

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [27]:
##Generating a list of all the divisors of a number:

number =25

[i for i in range(1,number+1) if number%i==0]

[1, 5, 25]

In [ ]:
sorted()

# Lambda Function

In [42]:
from itertools import groupby

words = ['apple', 'banana','mango', 'cherry', 'date', 'elderberry', 'fig']

groups = groupby(sorted(words), key=lambda x: x[0])

for key, group in groups:
    print(key, list(group))

a ['apple']
b ['banana']
c ['cherry']
d ['date']
e ['elderberry']
f ['fig']
m ['mango']

In [50]:
## Finding the maximum value in a dictionary
data = {'a': 10, 'b': 20, 'c': 5, 'd': 15}
max(data,key=lambda y:data[y])

'b'

In [53]:
## Sort a list of strings based on their alphabetical characters and  length:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
sorted(fruits,key=lambda x:len(x))

['date', 'apple', 'banana', 'cherry', 'elderberry']

In [57]:
## Convert a list of integers to their corresponding square values:
numbers=[1,2,3,4,5,6]
sq_value=list(map(lambda x :x**2,numbers))
print(sq_value)

[1, 4, 9, 16, 25, 36]

In [58]:
## Return the length of a string
str_len=lambda s:len(s)
str_len("Anushri Samarth Deshpande")

25

In [59]:
#Addition of 2 nos
sum_nos= lambda x,y:x+y
sum_nos(7,9)

16

# Python Data Classes

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as init, repr, and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [62]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    address:str


details=Person("ANUSHRI",34,"123 street,Banglore")
print(details.address)

123 street,Banglore

In [66]:
@dataclass 
class triangle:
    base:int
    height:int
    hypo:int
    colour:str='white'

specs=triangle(3,5,7,"red")
specs.colour
specs.base

3

In [68]:
#Inheritance
@dataclass
class Person:
    name:str
    age:int
    address:str


@dataclass
class Employee(Person):
    emp_id:str
    dept:str

details=Person("Anushri",40,"agsjakhd")
emp_info=Employee("Anushri",43,"hdkjahs","123tyr","IT")
emp_info.name

'Anushri'

In [86]:
#Nested dataclass

@dataclass
class Appearence:
    colour:str
    no_of_sides:str
    

@dataclass
class square:
    length:int
    other_info:Appearence

appear=Appearence('Green','four')
shape=square(10,appear)
shape.other_info.no_of_sides

'four'

In [78]:
@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address



address=Address('123 MAin street','Bangalore','12345')
person=Person("Krish",31,address)
person.address.city

'Bangalore'